@model IEnumerable<Solucoes.Web.Areas.Projetos.Models.Home.ProjetoViewModel>

@{
	ViewData["Title"] = "Página Inicial - Projetos";
}

<div class="container py-5">
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success alert-dismissible col-sm-4 ms-auto fade show" role="alert">
			@TempData["SuccessMessage"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	<div class="row">
		<div class="col-12 mb-3">
			<h1>Bem-vindo, @(ViewBag.UsuarioNome)!</h1>
			<p>Esta é a página inicial da área de Projetos.</p>
			<p>Aqui você pode gerenciar seus projetos e convites.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs" id="tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="projetos-tab" data-bs-toggle="tab" data-bs-target="#projetos" type="button" role="tab" aria-controls="projetos" aria-selected="true">Projetos</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="convites-tab" data-bs-toggle="tab" data-bs-target="#convites" type="button" role="tab" aria-controls="convites" aria-selected="false">Convites</button>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="tab-content">
						<div class="tab-pane fade show active" id="projetos" role="tabpanel" aria-labelledby="projetos-tab">
							@await Html.PartialAsync("_Projetos", Model)
						</div>
						<div class="tab-pane fade" id="convites" role="tabpanel" aria-labelledby="convites-tab">
							@{
								await Html.RenderPartialAsync("_Convites");
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(function () {
			$("#submitFormCriarProjeto").on("click", function () {
				$("#formCriarProjeto").trigger("submit")
			})

			$("#formCriarProjeto").on("submit", function (e) {
				e.preventDefault()

				const formElement = this

				if (!$(formElement).valid()) {
					return
				}

				$.ajax({
					url: "@Url.Action("Criar", "Projeto", new { area = "Projetos" })",
					type: "post",
					dataType: "json",
					contentType: false,
					processData: false,
					data: new FormData(formElement)
				}).done(function () {
					window.alert("Projeto cadastrado com sucesso!")
					window.location.reload()
				}).fail(function (xhr) {
					if (xhr.status == 400) {
						var response = JSON.parse(xhr.responseText)
						$(formElement).validate().showErrors(response.erros)
					}
				})
			})
		})
	</script>
}