@{
    ViewData["Title"] = "Página Inicial - Projetos";
}

<div class="container">
    <h1>Bem-vindo, @(ViewBag.Nome)!</h1>
    <p>Esta é a página inicial da área de Projetos.</p>
    <p>Aqui você pode gerenciar seus projetos e tarefas.</p>
</div>