:root {
    --gradient-1: #061E29;
    --gradient-2: #1D546D;
    --gradient-3: #5F9598;
    --gradient-4: #F3F4F4;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--gradient-4);
}

header nav.navbar {
    background-color: var(--gradient-1) !important;
}

main {
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.form-container {
    display: block;
    margin: auto;
}

.form-container-small {
    max-width: 600px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    max-width: 500px;
    overflow: visible;
    position: sticky;
    margin-left: auto;
    right: .25rem;
    top: .25rem;
    width: 100%;
    z-index: 1000;
}

.alert-container .alert {
    margin: 0 !important;
}