:root {
    --main-gradient-1: #355872;
    --main-gradient-2: #7AAACE;
    --main-gradient-3: #9CD5FF;
    --main-gradient-4: #F7F8F0;
    --cold-gradient-1: #35155D;
    --cold-gradient-2: #512B81;
    --cold-gradient-3: #4477CE;
    --cold-gradient-4: #8CABFF;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--main-gradient-4);
}

header nav.navbar {
    background-color: var(--main-gradient-1) !important;
}

main {
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.form-container {
    display: block;
    margin: auto;
}

.form-container-small {
    max-width: 600px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    max-width: 500px;
    overflow: visible;
    position: sticky;
    margin-left: auto;
    right: .25rem;
    top: .25rem;
    width: 100%;
    z-index: 1000;
}

.alert-container .alert {
    margin: 0 !important;
}

/* BOOTSTRAP */
.modal.modal-default .modal-dialog .modal-content .modal-header {
    background-color: var(--main-gradient-1) !important;
}

.card.card-default .card-header {
    background-color: var(--main-gradient-1) !important;
}

